# Rapport du système {{ inventory_hostname }}

| Interfaces IP  | Architecture          | OS | Nom du node |
| :--------------- |:---------------:| :-----:| :----------:|
| non définie  |   {{ ansible_architecture }}       |  {{ ansible_distribution }} non définie {{ ansible_distribution_release }} | {{ ansible_nodename }} | 
