# Rapport du système {{ inventory_hostname }}

| CCSID  | Architecture          | OS | Nom du node |
| :--------------- |:---------------:| :-----:| :----------:|
| {{ dspsysval_ccsid_result.sysval[0].value }}   |   {{ ansible_architecture }}       |  {{ ansible_distribution }}  {{ ansible_distribution_release }} | {{ ansible_nodename }} | 
